{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-color: black;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 40px;
        text-align: center;
    }

    .block {
        margin-bottom: 40px;
        background-color: #333;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 30px;
        text-align: left;
    }

    .block h1 {
        font-size: 28px;
        color: #8ebf81;
        margin-bottom: 20px;
    }

    .block h2 {
        font-size: 20px;
        color: #888888;
        margin-bottom: 10px;
    }

    .block p {
        font-size: 16px;
        color: #cccccc;
        line-height: 1.5;
    }
</style>
<div class="container">
    <div class="block">
    <h1 style="text-align:center; color:#4CAF50">Bloque 2: Dinámica: Leyes de Newton y aplicaciones</h1>
    <h3 style="color: white;">La dinámica es una rama de la mecánica que se ocupa del estudio de las fuerzas y su relación con el movimiento de los objetos.</h3>
    <h3 style="color: white;">Se basa en las leyes del movimiento de Newton, que establecen que un objeto permanece en reposo o en movimiento rectilíneo uniforme a menos que actúe sobre él una fuerza externa.</h3>
    <h3 style="color: white;">Estas leyes también describen cómo la fuerza neta afecta la aceleración de un objeto y cómo la masa influye en su respuesta a las fuerzas.</h3>
    <h3 style="color: white;">La dinámica tiene aplicaciones en el diseño de sistemas mecánicos, el análisis de colisiones, la ingeniería estructural y muchos otros campos relacionados con el movimiento de objetos físicos.</h3>
</div>

{% endblock %} 