{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-color: black;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 40px;
        text-align: center;
    }

    .block {
        margin-bottom: 40px;
        background-color: #333;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 30px;
        text-align: left;
    }

    .block h1 {
        font-size: 28px;
        color: #8ebf81;
        margin-bottom: 20px;
    }

    .block h2 {
        font-size: 20px;
        color: #888888;
        margin-bottom: 10px;
    }

    .block p {
        font-size: 16px;
        color: #cccccc;
        line-height: 1.5;
    }
</style>
<div class="container">
    <div class="block">
    <h1 style="text-align:center; color:#4CAF50">Bloque 3: Trabajo y Energia</h1>
    <h3 style="color: white;">El trabajo y la energía son conceptos fundamentales en la física que están estrechamente relacionados. </h3>
    <h3 style="color: white;">El trabajo se refiere a la transferencia de energía causada por la aplicación de una fuerza a lo largo de una distancia. La energía, por otro lado, es la capacidad de realizar trabajo. La energía puede existir en diferentes formas, como</h3>
    <h3 style="color: white;">energía cinética (asociada al movimiento), energía potencial (asociada a la posición) y otras formas de energía, como la energía térmica o la energía química. El estudio del</h3>
    <h3 style="color: white;">trabajo y la energía permite comprender cómo la energía se transforma y se conserva en diversos sistemas físicos.</h3>

    </p>
</div>

{% endblock %} 