{% extends 'base.html' %}
{% block content %}
<style>
   body {
        background-color: black;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 40px;
        text-align: center;
    }

    .block {
        margin-bottom: 40px;
        background-color: #333;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 30px;
        text-align: left;
    }

    .block h1 {
        font-size: 28px;
        color: #8ebf81;
        margin-bottom: 20px;
    }

    .block h2 {
        font-size: 20px;
        color: #888888;
        margin-bottom: 10px;
    }

    .block p {
        font-size: 16px;
        color: #cccccc;
        line-height: 1.5;
    }
</style>


<style>
    /* Estilo para centrar horizontalmente */
    .center {
      margin: 0 auto;
      text-align: center;
    }
  </style>
<div class="container">
    <div class="block center">
        <h1 style="text-align:center; color:#4CAF50">Integrantes</h1>
        <h3 style="color: white;"> *Luis Álvarez  *Carlos Centeno</h3>
        <h3 style="color: white;"> *Emmanuel Brito *Richard González</h3>
        <h3 style="color: white;"> *Andy Barroso *Daniel Espin</h3>
    </div> 

    <div class="container">
    <div class="block">
        <h1 style="text-align:center; color:#4CAF50">Introducción</h1>
        <h3 style="color: white;"> En el ámbito de la física, el estudio de los fenómenos relacionados con el movimiento y las fuerzas que actúan sobre los cuerpos es fundamental para comprender el comportamiento del mundo que nos rodea. En este proyecto, nos adentraremos en tres bloques fundamentales de la física: Cinemática, Dinámica y Trabajo y Energía.</h3>
        <h3 style="color: white;"> El primer bloque, Cinemática, nos brinda las herramientas necesarias para describir y analizar el movimiento de los objetos en una y dos dimensiones. Mediante el estudio de conceptos como posición, velocidad y aceleración, podremos comprender cómo los cuerpos se desplazan en el espacio y cómo varían sus características en el tiempo. A través de ecuaciones y gráficas, exploraremos las leyes que rigen estos movimientos y su aplicación en situaciones concretas.</h3>
        <h3 style="color: white;"> En el segundo bloque, Dinámica, profundizaremos en las Leyes de Newton, pilares fundamentales de la física clásica. Estas leyes nos permiten entender las causas que generan el movimiento de los objetos y cómo se relacionan las fuerzas que actúan sobre ellos. Exploraremos conceptos como la masa, la fuerza y la aceleración, y estudiaremos cómo estas leyes se aplican en diferentes situaciones, desde el movimiento de los planetas hasta el comportamiento de los cuerpos en equilibrio o en movimiento.</h3>
    </div>
    <div class="block">
        <h1 style="text-align:center; color:#4CAF50">Conclusión</h1>
        <h3 style="color: white;"> En este proyecto, hemos explorado los conceptos fundamentales de la física a través de un enfoque teórico y práctico, utilizando las tecnologías web de HTML, Django y CSS. Mediante el uso de estas herramientas, hemos logrado crear una plataforma interactiva y visualmente atractiva para el estudio y análisis de la Cinemática, Dinámica y Trabajo y Energía.</h3>
        <h3 style="color: white;"> Durante el desarrollo del proyecto, hemos aplicado los principios de la física en el diseño y la implementación de la interfaz de usuario, brindando a los usuarios una experiencia intuitiva y dinámica para aprender y explorar los conceptos clave. A través de la estructura y la interactividad proporcionadas por HTML, hemos presentado los contenidos de manera organizada y accesible, facilitando la comprensión y la navegación por los distintos bloques temáticos.</h3>
        <h3 style="color: white;"> La utilización de Django como nuestro marco de desarrollo nos ha permitido gestionar eficientemente la lógica de la aplicación y el manejo de los datos. Hemos aprovechado las capacidades de Django para crear modelos de datos que representen los principios físicos estudiados, y hemos implementado vistas y controladores para garantizar una funcionalidad fluida y una interacción fluida entre los usuarios y la plataforma.</h3>
        <h3 style="color: white;"> Además, hemos aplicado CSS para personalizar la apariencia de nuestra aplicación, utilizando estilos y diseños atractivos que refuercen la experiencia de aprendizaje. Mediante la combinación de colores, fuentes y disposiciones cuidadosamente seleccionadas, hemos creado una interfaz visualmente agradable y coherente, lo cual mejora el compromiso y la participación de los usuarios.</h3>
        <h3 style="color: white;"> En resumen, este proyecto ha demostrado la capacidad de las tecnologías web de HTML, Django y CSS para impulsar el aprendizaje interactivo de la física. Mediante la integración de estos recursos, hemos logrado crear una plataforma educativa eficaz y atractiva, que brinda a los usuarios la oportunidad de explorar y comprender los principios fundamentales de la física de manera práctica y visualmente atractiva.
            Al finalizar este proyecto, hemos adquirido un conocimiento más profundo de los conceptos físicos estudiados, así como habilidades técnicas en el desarrollo web. Estas habilidades nos permitirán seguir explorando nuevas formas de aplicar la tecnología en el ámbito educativo y promover un aprendizaje más interactivo y enriquecedor.</h3>
</div>
{% endblock %}
